 <section>
    <h2>Entre como particimante</h2>
    <form action="/create-room" method="post">
    <label class="sr_only" for="room_pass">Código da sala</label>
    <input id="room_pass" name="password" type="password" placeholder="insira uma senha">
        <button>
         <img src="./images/user.svg" alt="Entrar na sala">
         Criar Sala</button>
        </form>
</section>  